In [ ]:
#function -- block of code that is used to do repeated task and it will execute when run call it 
##2 type of functions 
##1 user defined functions 
#2 built in functions

In [3]:
##user definde functiond
def hello():
    print("hello from the functioms ")

hello() # call a functions

hello from the functioms

In [4]:
def add():
    a =1
    b=2
    c = a+b
    print(c)
add()

3

In [ ]:
# parameter and argument
#parameter is function create is use and pass value.
#argrument call function is call pass the value.
def add(a,b):
    print(a+b)
add(2,3)

5

In [ ]:
##arbitory argument -- args-- *
def child(*kids):
    print("the youngest child is " + kids[2])
child("mohan","rohan","sohan")A

the youngest child is sohan

In [13]:
##keyword argument -- 
def child(child1,child2,child3):
    print("the youngest child id " +child1)
child(child3="vidh",child2="fd",child1="dkkl")

the youngest child id dkkl

In [21]:
def hobby(name = "codint"):
    print("ny hobby" +name)
hobby("crickets")
hobby()

ny hobbycrickets
ny hobbycodint

In [23]:
def lst(name):
    for i in name:
        print(i)
lst(["mohan","rohan","ram"])

mohan
rohan
ram

In [28]:
## avy function
def avg(num):
    #print("aveage" + sum(num)/len(num))
    print(sum(num)/len(num))
avg([1,3,4,5])

3.25

In [1]:
##lambda function -- small anonymous functions 
#lambda arguments : expression

In [4]:
x = lambda a , b : a*a
x(5,7)

25

In [10]:
##map -- map (function , iteravble)
# def sq(num):
#     return num*num
lst = [1,2,3,4,5]
result = map(lambda num : num*num,lst)
print(list(result))

[1, 4, 9, 16, 25]

In [12]:
lst = [1,2,3,4,5]
result = filter(lambda num : num%2==0,lst)
print(list(result))

[2, 4]

In [15]:
##reduce 
from functools import reduce
lst = [1,2,3,4,5]

result = reduce(lambda num1, num2 : num1+num2,lst)
print(result)

15

In [18]:
##enumerate 
lst = ["mohan","rohan","vush"]
result = enumerate(lst,start=3)
print(list(result))

[(3, 'mohan'), (4, 'rohan'), (5, 'vush')]

In [19]:
##zip function -- it is used to combine two or more iterable
lst1 = ["mi","eo","dk"]
lst2 = [1,2,3]
result = zip(lst1,lst2)
print(list(result))

[('mi', 1), ('eo', 2), ('dk', 3)]

In [ ]:
##zip function -- it is used to combine two or more iterable
lst1 = ["mi","eo","dk"]
lst2 = [1,2,3]
result = zip(lst1,lst2)
print(list(result))

[('mi', 1), ('eo', 2)]

In [25]:
ziped = [('mi', 1), ('eo', 2), ('dk', 3)]
result , number = zip(*ziped)
print(result)
print(number)

('mi', 'eo', 'dk')
(1, 2, 3)