In [13]:
##conditional statements --> if,elif,else
a= 10
b = 20
c= 30

if not(b>a and a<c):

    print("b is greater than a and a is less than c")

else:
    print("b is less than a")

b is less than a

In [24]:
a = int(input("entr tge"))
if a>0:
    if a%5== 0 and a%7 == 0:
        print("a is divisible")
    else:
        print("a is not divisible")    
else:
    print("proper answerr")

proper answerr

In [ ]:
a = int(input("entr tge"))
if a>0:
    if a%4 == 0:

In [30]:
#for and while loop
#fkor loop -- iterating over a sepuence (lst, tuple, string)
#string
# for i in "hello":
#     print(i)
    ## list 
lst = ["red","blue","green","bladk"]
for i in lst:
        print( i, end=" ")

red blue green bladk

In [37]:
dit ={
    "name":["hello","vishal"],
    "age":20,
    "hobby":"coding",
    "age":{"age1":10,"age2" :40}
}
for i , y in dit.items():
  print(i,"-----",y)

name ----- ['hello', 'vishal']
age ----- {'age1': 10, 'age2': 40}
hobby ----- coding

In [40]:
for i in range(2,8,2):
    print(i)

2
4
6

In [43]:
##nested forlooop
lst1 = [1,2,3]
lst2 = ["red ","blue","green"]
for i in lst1:
    for j in lst2:
        print(i,j)
        print("----")

1 red
----
1 blue
----
1 green
----
2 red
----
2 blue
----
2 green
----
3 red
----
3 blue
----
3 green
----

In [ ]:
##break 
for i in range(1,10):
    if i == 5:
        break
    print(i)

1
2
3
4

In [46]:
## continue
for i in range(1,10):
    if i == 5:
        continue
    print(i)

1
2
3
4
6
7
8
9

In [48]:
##pass
for i in range(1,10):
    pass

##you have to square the given list and print the result in a  list

In [50]:
lst = [1,2,3,4]
squared = [x**2 for x in lst]
print(squared)

[1, 4, 9, 16]

In [51]:
lst = [1,2,3,4,5]
lst1 =[]
for i in lst:
    lst1.append(i**2)
    print(lst1)

[1]
[1, 4]
[1, 4, 9]
[1, 4, 9, 16]
[1, 4, 9, 16, 25]

In [54]:
##while loop
i = 1
while i<=10:
    print(i)
    i+=1

1
2
3
4
5
6
7
8
9
10

In [62]:
#for i in range(1,11):
i = 10
while i>=5:

    print(i)
    i-=1

10
9
8
7
6
5

In [1]:
##find the sum of  numbers from 1 to 10 using while loop
# Initialize variables
num = 1
total = 0

# Use while loop to add numbers from 1 to 10
while num <= 10:
    total += num
    num += 1

# Print the result
print("The sum is:", total)

The sum is: 55